html{
	margin: auto;
	background-color: white;
}
body{
	margin: 10px 0 ;
	padding: 0 ;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	background: #dea ;
}

div#conteneur
{
	width: 770px ;
	margin: 0 auto ;
	text-align: left ;
	border: 2px solid #ab4 ;
	background: #fff ;
}


#header{
	padding: 5px;
	border : solid 2px black;
	background-color: #F1F2F2  ;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 2.3em;

}

#footer{
	padding: 5px;
	border : solid 2px black;
	background-color: #F1F2F2  ;
	margin-bottom: 30px;

}

#film {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

img{
	width:35%;
}

/* Fleche de defilement */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/*fleche de gauche*/
.prev{
	padding-left:300px;
	left:0;
}

/*fleche de droite*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  padding-right:300px;
}

/* changement apparence des fleche lorsqu'on passe le curseur dessus*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Boutons */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*Apparence du bouton activé différente */
.active, .dot:hover {
  background-color: #717171;
}
